.gridContainer {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  column-gap: 22px;
  row-gap: 20px;
  justify-content: center;
}

.cardImgContainer {
  display: block;
  border-radius: 8px;
  overflow: hidden;
}

.cardImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.cardTitle {
  opacity: 0.8;
}

.card:hover .cardImg {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card:hover .cardTitle {
  opacity: 1;
  transition: opacity 0.3s ease;
}