.gridContainer {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  column-gap: 22px;
  row-gap: 20px;
  justify-content: center;
}

.cardImgContainer {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 8px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px 0 0 4px;
}

.cardImg {
  width: 100%;
  aspect-ratio: 2 / 3;
  height: auto;
}

.cardTitle {
  opacity: 0.8;
  text-align: center;
}

.card:hover .cardImg {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card:hover .cardTitle {
  opacity: 1;
  transition: opacity 0.3s ease;
}
