.sectionContainer {
    background-color: black;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.backdropContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    z-index: 0;
}

.backdrop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.65;
    z-index: 1;
}

.backdropImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}